<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!--footer starts from here-->
<footer class="footer">



  <div class="container">
    <p class="text-center">Copyright @2025  <a href="#">Jobs</a></p>
    <ul class="social_footer_ul">
      <li><a><i class="fab fa-facebook-f"></i></a></li>
      <li><a><i class="fab fa-twitter"></i></a></li>
      <li><a><i class="fab fa-linkedin"></i></a></li>
      <li><a><i class="fab fa-instagram"></i></a></li>
    </ul>

  </div>

</footer>



<!-- Crédit to https://bootsnipp.com/snippets/bxDBA -->
