<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!--footer starts from here-->
<footer class="footer">

  <!--     <div class=" col-sm-4 col-md col-sm-4  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">A Propos</h5>
          <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s</p>
          <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
          <p><i class="fa fa-phone"></i> +91-99878398 </p>
          <p><i class="fa fa fa-envelope"></i> info@example.com </p>


      </div> -->


  <div class="container">
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2025  <a href="#">Jobs</a></p>

    <ul class="social_footer_ul">
      <li><a><i class="fab fa-facebook-f"></i></a></li>
      <li><a><i class="fab fa-twitter"></i></a></li>
      <li><a><i class="fab fa-linkedin"></i></a></li>
      <li><a><i class="fab fa-instagram"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
  </div>

</footer>



<!-- Crédit to https://bootsnipp.com/snippets/bxDBA -->
