mat-card{
  width:50%;
  margin: 30px auto ;
  border-radius:30px;
  background-color:#F5F5F5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title{
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: bold;
  color:#585858;
}
.form-invalid{
  border-color: #ED4337  !important;
}
.form-valid{
  border-color:#23DC3D !important;
}
