<div class="container">
  <div *ngIf="data.error">
    <h5 mat-dialog-title class="error">{{data.message}}</h5>
    <div mat-dialog-content class="justify-content-end mt-5" style="display:flex; justify-content:end;">
      <button mat-dialog-close class="btn btn-danger">Ok</button>
    </div>
  </div>

  <div *ngIf="!data.error">
    <h1 mat-dialog-title class="success">Entrer les Cordonnées de l'application</h1>
    <div mat-dialog-content class="justify-content-end mt-5">
      <div class="form-group">
        <label for="cv">CV: </label><br>
        <input type="file" class="form-control" name="CV" id="CV" #fileCV><br>
      </div>
      <div class="form-group">
        <label for="motivation">Lettre de Motivation: </label><br>
        <input type="file" class="form-control" name="motivation" id="motivation" #fileMotivation><br>
      </div>
      <button mat-dialog-close class="btn btn-primary" style="background-color: #0A2558;"  (click)="submit(fileCV, fileMotivation)">Postuler</button>
    </div>
  </div>


</div>
